@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";

  /* Base colors */
  --color-base-100: #E0E8F6; /* light bluish background */
  --color-base-200: oklch(98% 0 0);  /* very light gray for surfaces */
  --color-base-300: oklch(95% 0 0);  /* light gray for cards/sections */
  --color-base-content: #fffff; /* main text color */

  /* Primary / Accent / Secondary */
  --color-primary: oklch(50% 0.24 277);
  --color-primary-content: oklch(93% 0.034 272.7);
  --color-secondary: oklch(70% 0.2 355);
  --color-secondary-content: oklch(94% 0.03 342);
  --color-accent: #4FC3F7;
  --color-accent-content: oklch(38% 0.06 188);

  /* Neutral / Feedback */
  --color-neutral: oklch(15% 0.005 285);
  --color-neutral-content: oklch(92% 0.004 286);
  --color-info: oklch(74% 0.16 232);
  --color-info-content: oklch(29% 0.066 243);
  --color-success: oklch(76% 0.177 163);
  --color-success-content: oklch(37% 0.077 168);
  --color-warning: oklch(82% 0.189 84);
  --color-warning-content: oklch(41% 0.112 45);
  --color-error: oklch(71% 0.194 13);
  --color-error-content: oklch(27% 0.105 12);

  /* Radii */
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Borders / depth / noise */
  --border: 1px;
  --depth: 1;
  --noise: 0;

  /* Gradient variable for logo / text */
  --color-gradient: linear-gradient(to right, #4FC3F7 0%, #4FC3F7 40%, #484E53 80%);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);

  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(96% 0.018 272.314);

  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);

  --color-accent: #4FC3F7;
  --color-accent-content: oklch(38% 0.063 188.416);

  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;

  /* Gradient variable */
  --color-gradient: linear-gradient(to right, #4FC3F7 0%, #4FC3F7 40%, #FFFFFF 80%);
}


*{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none
}


.button{
    @apply btn btn-accent bg-transparent hover:bg-accent hover:text-white shadow-accent hover:shadow-2xl text-base-content
}

/* .active{
    @apply text-[#4FC3F7]
} */

.gradient-text {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
